html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body.active {
    background: rgb(0, 0, 0);
}

/*---navbar---*/

.navbar {
    background: rgb(255, 255, 255);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
    background: #f7f7f4;
    transition: height 1.5s ease-in-out;
}

.navbar .navMain a {
    color: black;
    font-size: 1.5em;
    padding: 1.25rem 0rem;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.toggle-collapse .toggle-icons i {
    font-size: 1.4em;
    color: gray;
}

.collapse {
    height: 30rem;
    background: whitesmoke;
}

.navItems {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.navLink {
    padding: 1.6rem 1.5rem;
    font-size: 1.1em;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navLink a {
    color: rgb(0, 0, 0);
}

.navLink a.active {
    color: white;
}

.navbar .navMain a.active {
    color: rgb(255, 82, 82);
}

.current a.active {
    color: rgb(255, 82, 82);
}

.current {
    padding: 1.6rem 1.5rem;
    font-size: 1.1em;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background: black;*/
}

.current a {
    color: black;
    font-weight: bold;

}

.navLink:hover {
    font-size: 1.3em;
    font-weight: bold;
    transition: font 0.5s ease-in-out;
}

.navLink:hover a {
    color: Black;
}

.navLink:hover a.active {
    color: rgb(255, 82, 82);
}

.social {
    padding: 1.8rem 0;

}

.social i {
    padding: 0 0.3rem;
}

.social i.active {
    color: rgb(255, 82, 82);
    ;
}

.social i:hover {
    color: rgb(0, 4, 65);
    font-size: 2rem;
    transition: font 0.5s ease-in-out;
}

.social i:hover.active {
    color: rgb(255, 255, 255);
}

.navbar.active {
    background: #222;
}

#toggleMode {
    position: relative;
    top: 2%;
    width: 50px;
    cursor: pointer;
    height: 30px;
    border-radius: 160px;
    background: white;
    margin: 20px;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgb(124, 123, 123),
        inset 0 8px 8px rgb(0, 0, 0),
        inset 0 -4px 4px rgb(0, 0, 0);
}

#toggleMode .indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 25px;
    border-radius: 50%;
    background: rgb(202, 201, 201);
    transform: scale(0.9);
    box-shadow:
        inset 0 4px 4px rgba(255, 255, 255, 0.938),
        inset 0 -4px 4px rgba(255, 255, 255, 0.938);
    transition: 0.5s;
}

#toggleMode.active .indicator {
    left: 25px;
    background: rgb(65, 64, 64);
    transform: scale(0.9);
    box-shadow:
        inset 0 4px 4px rgb(230, 228, 228),
        inset 0 -4px 4px rgb(230, 228, 228);

}

#toggleMode.active {
    background: rgb(236, 235, 235);
    box-shadow: inset 0 2px 60px rgb(255, 255, 255),
        inset 0 2px 8px rgb(99, 91, 91), inset 0 -4px 8px rgb(71, 71, 71);
}

/*----------MAIN------------*/

.site-title {
    background: url('../images/main.jpg');
    /* background-size: 100% auto;
    height: 90vh; */
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    /* max-width: 100%;
    height:auto; */
}

.site-title.active {
    background: url('../images/night3.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.site-background {
    padding-top: 10rem;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(221, 48, 207),
        1px -1px 0 rgb(99, 129, 226),
        -1px 1px 0 rgb(99, 129, 226),
        1px 1px 0 rgb(99, 129, 226);

}

.site-title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

button.btn {
    margin: 2rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px 1px 0 rgb(0, 0, 0),
        1px 1px 0 rgb(107, 107, 107);
    background-color: rgb(245, 182, 182);
}

.btn:hover {
    background: transparent;
    border: 1px solid black;
}

/*-------Carousel-------*/
main .blog {
    background-color: rgb(247, 235, 237);
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

main .blog.active {
    background-color: rgb(0, 0, 0);

}

main .blog .blog-post {
    padding-top: 4rem;
}

main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 20px 25px rgb(143, 145, 252);
    background: white;

}

main .blog-content title {
    padding: 2rem 0;
}

main .blog-content .btn-blog {
    padding: 0.7rem 2rem;
    margin: 0.5rem;
    background: rgb(255, 200, 247);
}

main .blog-content span {
    display: block;
}

/* .imageBlog {
    overflow: hidden;
}

.imageBlog img {
    height: 400px;
    width: 400px;
    min-height: 500px;
    min-width: 450px;
    max-width: 100%;
} */

section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: transparent;
    font-size: 2rem;
    color: rgb(1, 45, 104);
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: rgb(168, 109, 109);
}

/*----x---Carousel---x----*/

.info {
    display: grid;
    grid-template-columns: 80% 20%;

}

.container .info .posts .post-content .post-image img {
    width: 800px;
    height: auto;
    max-width: 60%;
    margin-top: 100px;
    transition: all 1s ease;
}

.container .info .posts .post-content {
    width: 100%;
    margin-bottom: 5rem;
}

.container .info .posts .post-content>.post-image, .post-title {
    padding: 1rem 3rem;
    position: relative;

}

.info .post-content>.post-image .post-tag {
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 15vw;
    border-radius: 3rem;

}

.info .post-content>.post-image>div {
    overflow: hidden;
}

.info .post-content>.post-image img:hover {
    transform: scale(1.1);

}

.post-content .post-title a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: rgb(218 95 98);
}

.info .post-content .post-title .post-btn {
    border-radius: 0;
    padding: .7rem 1rem;
    margin: 0;
    background-color: rgb(218 95 98);
}

.text-gray {
    color: rgb(196, 196, 196)
}


/*----x------MAIN------x------*/

/*----------FOOTER------------*/
footer.footer {
    height: 100%;
    background-color: #f7f7f4;
    position: relative;
}

footer.footer.active {
    background: rgb(0, 0, 0);
    border: 2px solid rgb(218 95 98);
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2 {
    color: rgb(0, 0, 0)
}

footer.footer .container h2.active {
    color: rgb(255, 255, 255)
}

footer.footer .newsletter .form-element {
    background: rgb(201, 85, 87);
    ;
    display: inline-block;
    width: 65%;

}

footer.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: 2px black solid;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    width: 63.5%;
}

footer.footer .newsletter .form-element span {
    background: rgb(201, 85, 87);
    padding: .5rem 1.1rem;
    cursor: pointer;
}

footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
    border-radius: 40%;
    border: 2px solid rgb(218 95 98);
}

footer.footer .follow div i {
    color: rgb(209, 19, 22);
    padding: 0 .4rem;
    font-size: larger;
}

footer.footer .rights {
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}


footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: rgb(0, 0, 0);
}

footer.footer .move-up span.active {
    color: rgb(255, 255, 255);
}

footer.footer .move-up span:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}


/*----x------FOOTER------x------*/

/*----------PHOTOGRAPHY------------*/

.gallery {
    text-align: center;
}

.gallery img {
    transition: 1s;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    width: 350px;
    height: 470px;
    max-width: 100%;
}

.gallery img:hover {
    transform: scale(1.1);
}


.gallery h1 {
    font-family: cursive;
    font-size: 30px;
    margin: 0%;
    padding-top: 70px;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(0, 49, 209),
        1px -1px 0 rgb(0, 49, 209),
        -1px 1px 0 rgb(0, 49, 209),
        1px 1px 0 rgb(0, 49, 209);
}

.gallery h2 {
    font-family: cursive;
    font-size: 20px;
    color: white;
    text-shadow:
        -1px -1px 0 rgba(214, 0, 196, 0.795),
        1px -1px 0 rgba(214, 0, 196, 0.795),
        -1px 1px 0 rgba(214, 0, 196, 0.795),
        1px 1px 0 rgba(214, 0, 196, 0.795);
}


#galleryChristmas {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    /* margin-top: 100px; */
    padding-bottom: 30px;
    /* background-color: beige; */
    background-image: url("../images/joanna-kosinska-9T_S-7oGZZU-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

#galleryChristmas img {
    width: 420px;
    height: 500px;
}

#galleryChristmas h1 {
    color: #f1e3cd;
    margin: 0px;
    padding-top: 50px;
}

#galleryBudapest {
    background-color: #cfc6fc;
    padding-bottom: 70px;
}


#galleryBudapest img {
    width: 420px;

}

#galleryBudapestFaces {
    background: -webkit-linear-gradient(70deg, #c3d4c1 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, #c3d4c1 50%, #a999f5 80%);
    padding-bottom: 70px;

}

#galleryMoon h1 {
    color: #f1e3cd;
    margin: 0px;
    padding-top: 50px;
}

#galleryMoon {
    /* background-image: url("../images/night3.jpg"); */
    background-color: #a99bf3;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-position: center;
    background-size: cover;
}

#home {
    background-color: #f1d7b4;
    text-align: center;
}

#home h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #202020;
    /* text-transform: uppercase; */
    letter-spacing: -2px;
}

#home h1 span {
    display: block;
    margin: 11px 0 17px 0;
    font-size: 50px;
    line-height: 70px;
    color: #e1e8f5;
    text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px rgb(58, 58, 58);
    letter-spacing: -5px;
}

#Tbilisi {
    background-image: linear-gradient(to top, #fddb92 0%, #c3d4c1 100%);

}

#Tbilisi img {
    width: 340px;

}

#Batumi {
    background-image: url("../images/night3.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;

}

/*----x------PHOTOGRAPHY------x------*/
/*-----------FORM-----------*/
form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

form:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.left img {
    width:
        425px;
    /* height:630px; */
    max-width: 100%;
    max-height: 100%;
}

.right {
    padding: 25px 40px;
    margin-right: 25px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn1 {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn1:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}



/*------x----FORM-----x-----*/

/*----------General Classes----------*/

a {
    text-decoration: none;
}

.container {
    margin: 0 5vw;

}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 35px;
    color: rgb(100, 100, 100);
}

/*-----------Hobbies--------*/
.containerHobbies {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0ddae;
}

.containerHobbies .leftImage img {
    max-width: 100%;
    width: 600px;

}

.leftImage {
    flex-basis: 90%
}

.rightText {
    font-size: 30px !important;
    color: black !important;

}

.rightText p {
    color: black;
}

.aboutBooks {
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    width: 50%;
    margin: 20px 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.bookSection .bookTitles h2, .favoriteBooks h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
}

.card {

    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(51, 1, 1, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #E5E3C4;
}

.cardColumn {

    float: left;
    width: 33.33%;

}

/* Remove extra left and right margins, due to padding */
.cardRow {
    margin: 0 -10px;
}

/* Clear floats after the columns */
.cardRow:after {
    content: "";
    display: table;
    clear: both;
}

/*------x-----Hobbies----x----*/


/*-----------Responsive--------*/
/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
    .posts .post-content>.post-image .post-tag {
        left: 3rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .posts .post-content>.post-image {
        width: 100%;
        height: auto;
        width: 600px;
    }

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        display: none;
    }


}

/*      x       Viewport less then or equal to 1130px    x     */


@media only screen and (max-width:750px) {
    .navbar .navmenu, .navbar .navItems {
        flex-direction: column;
    }

    .toggle-collapse {
        display: initial;
    }

    .post-content .post-title a {
        font-size: 30px;
    }

    .post-content .post-title p {
        font-size: 20px;
    }

    #toggleMode {
        margin-left: auto;
        margin-right: auto;


    }

    .posts .post-content>.post-image {
        width: 100%;
        height: auto;
        width: 600px;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    footer.footer .newsletter {
        display: none;
    }

    .post-content .post-tag {
        display: none;
    }

    .cardColumn {
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    main .blog {
        height: 125vh;
    }

    .posts .post-content>.post-image {
        width: 100%;
        height: auto;
        width: 300px;
    }

    .post-content .post-title a {
        font-size: 22px;
    }

    .info {
        display: grid;
        grid-template-columns: 100% 0%;
    }

    .post-content .post-title p {
        display: none;
    }

    .site-content .post-content>.post-image .post-info {
        display: none;
    }

    footer.footer .container>div {
        padding: 1rem .9rem !important;
    }

    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse {
        width: 80% !important;
    }

    .column {
        width: 100%;
    }

    .cardColumn {
        width: 100%;
    }

}