html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body.active {
    background: rgb(0, 0, 0);
}

/*---navbar---*/

.navbar {
    background: rgb(255, 255, 255);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
    background: #f7f7f4;
    transition: height 1.5s ease-in-out;
}

.navbar .navMain a {
    color: black;
    font-size: 1.5em;
    padding: 1rem 0rem;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.toggle-collapse .toggle-icons i {
    font-size: 1.4em;
    color: gray;
}

.collapse {
    height: 30rem;
    background: whitesmoke;
}

.navItems {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.navLink {
    padding: 1.6rem 1.5rem;
    font-size: 1.1em;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navLink a {
    color: black;
}

.current {
    padding: 1.6rem 1.5rem;
    font-size: 1.1em;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background: black;*/
}

.current a {
    color: black;
    font-weight: bold;

}

.navLink:hover {
    font-size: 1.3em;
    font-weight: bold;
    transition: font 0.5s ease-in-out;
}

.navLink:hover a {
    color: Black;
}

.social {
    padding: 1.4rem 0;

}

.social i {
    padding: 0 0.2rem;
}

.social i:hover {
    color: rgb(0, 4, 65);
    font-size: 2rem;
    transition: font 0.5s ease-in-out;
}

.navbar.active {
    background: #222;
}

#toggleMode {
    position: relative;
    top: 2%;
    width: 50px;
    cursor: pointer;
    height: 30px;
    border-radius: 160px;
    background: white;
    margin: 20px;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgb(124, 123, 123), 
                inset 0 8px 8px rgb(0, 0, 0),  
                inset 0 -4px 4px rgb(0, 0, 0);
}

#toggleMode .indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 25px;
    border-radius: 50%;
     background:rgb(202, 201, 201);
    transform: scale(0.9);
    box-shadow: 
                inset 0 4px 4px rgba(255, 255, 255, 0.938), 
                inset 0 -4px 4px rgba(255, 255, 255, 0.938);
    transition: 0.5s;
}

#toggleMode.active .indicator {
    left: 25px;
    background: rgb(65, 64, 64);
    transform: scale(0.9);
    box-shadow:  
                inset 0 4px 4px rgb(230, 228, 228), 
                inset 0 -4px 4px rgb(230, 228, 228);

}

#toggleMode.active {
    background: rgb(236, 235, 235);
    box-shadow: inset 0 2px 60px rgb(255, 255, 255), 
            inset 0 2px 8px rgb(99, 91, 91), inset 0 -4px 8px rgb(71, 71, 71);
}

/*----------MAIN------------*/


.site-title {
    background: url('../Media/erol-ahmed-FTy5VSGIfiQ-unsplash.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.site-background {
    padding-top: 10rem;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(238, 62, 223),
        1px -1px 0 rgb(99, 129, 226),
        -1px 1px 0 rgb(99, 129, 226),
        1px 1px 0 rgb(99, 129, 226);
}

.site-title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

button.btn {
    margin: 2rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px 1px 0 rgb(0, 0, 0),
        1px 1px 0 rgb(107, 107, 107);
    background-color: rgb(245, 182, 182);
}

.btn:hover {
    background: transparent;
    border: 1px solid black;
}

/*-------Carousel-------*/
.blog {
    background-image: linear-gradient(to top, #f3d5ec 0%, #fad2f1 1%, #e6dee9 100%);
    width: 100%;
    height: 100vh;
}

.blog-post {
    padding-top: 6rem;
}

.blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgb(88, 88, 230);
    background: white;
}

.blog-title {
    padding: 2rem 0;
}

main .blog-content .btn-blog {
    padding: 0.7rem 2rem;
    margin: 0.5rem;
    background: rgb(255, 200, 247);
}

main .blog-content span {
    display: block;
    padding-bottom: 2rem;
}

.owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.imageBlog {
    width: 400px;
    height: 450px;
  
}

/*----------General Classes----------*/

a {
    text-decoration: none;
}

span {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 0 5vw;
}

img {
    height: 100%; width: 100%; object-fit: cover;
}

/*-----------Responsive--------*/

@media only screen and (max-width:750px) {
    .navbar .navmenu, .navbar .navItems {
        flex-direction: column;
    }

    .toggle-collapse {
        display: initial;
    }

    #toggleMode {
        margin-left: auto;
        margin-right: auto;


    }


}